In [ ]:
import pandas as pd

In [ ]:
url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/desafios/alunos.csv'
dados = pd.read_csv(url)

In [ ]:
dados.head(7)

In [ ]:
dados.tail()

In [ ]:
dados.shape

In [ ]:
# visualizando os nomes das colunas
dados.columns

In [ ]:
# selecionando uma coluna
dados['Nome']

In [ ]:
#selecionando múltiplas colunas
dados[['Idade', 'Notas']]

In [ ]:
# conferindo os tipos de dados de cada coluna
dados.dtypes

In [ ]:
dados.describe()
#O método describe() é uma das funções mais úteis do Pandas para a análise exploratória de dados. Essa função é usada para calcular algumas estatísticas descritivas básicas dos dados em um DataFrame ou em uma coluna específica de um DataFrame.
"""
count: Número de valores não nulos (não-NaN) em cada coluna.
mean: Média dos valores da coluna.
std: Desvio padrão dos valores da coluna.
min: Valor mínimo na coluna.
25%: 25º percentil dos valores da coluna (o primeiro quartil).
50%: 50º percentil dos valores da coluna (a mediana).
75%: 75º percentil dos valores da coluna (o terceiro quartil).
max: Valor máximo na coluna.
"""

Exercicios aula 2

In [ ]:
#iniciando 

import pandas as pd 

url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/base-de-dados/aluguel.csv'
dados = pd.read_csv(url, sep=';')

imoveis_comerciais = ['Conjunto Comercial/Sala', 
                      'Prédio Inteiro', 'Loja/Salão', 
                      'Galpão/Depósito/Armazém', 
                      'Casa Comercial', 'Terreno Padrão',
                      'Loja Shopping/ Ct Comercial',
                      'Box/Garagem', 'Chácara',
                      'Loteamento/Condomínio', 'Sítio',
                      'Pousada/Chalé', 'Hotel', 'Indústria']

df = dados.query('@imoveis_comerciais not in Tipo')

1. Calcular a média de quartos por apartamento;

In [ ]:
df['Quartos'].mean()

2. Conferir quantos bairros únicos existem na nossa base de dados;

In [ ]:
len(df['Bairro'].unique())

3. Analisar quais bairros possuem a média de valor de aluguel mais elevadas;

In [ ]:
df.groupby('Bairro')[['Valor']].mean().sort_values('Valor', ascending=False)

4. Criar um gráfico de barras horizontais que apresente os 5 bairros com as médias de valores de aluguel mais elevadas.

In [ ]:
df_bairros = df.groupby('Bairro')[['Valor']].mean().sort_values('Valor', ascending=False).head()

df_bairros.plot(kind='barh', figsize=(10,5), color='blue');

Exercicios Aula 3

In [ ]:
import pandas as pd

url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/desafios/alunos.csv'
alunos = pd.read_csv(url)

alunos.head()

Exercicio 1: Verifique se a base de dados possui dados nulos e, caso tenha, realize o tratamento desses dados nulos da forma que achar mais coerente com a situação.

In [ ]:
alunos.isnull().sum()

In [ ]:
alunos = alunos.fillna(0)

Exercicio 2: Os alunos "Alice" e "Carlos", não fazem mais parte da turma. Sendo assim, remova-os da base de dados.

In [ ]:
remover = alunos.query("Nome == 'Alice' | Nome == 'Carlos'").index

In [ ]:
alunos.drop(remover, axis=0, inplace=True)

In [ ]:
alunos

Exercicio 3: Aplique um filtro que selecione apenas os alunos que foram aprovados.

In [ ]:
aprovados = alunos['Aprovado'] == True

In [ ]:
alunos_aprovados = alunos[aprovados]
alunos_aprovados

Exercicio 4: Salve o DataFrame que possui apenas os alunos aprovados em um arquivo csv chamado "alunos_aprovados.csv".

In [ ]:
alunos_aprovados.to_csv('alunos_aprovados.csv', index= False, sep=',')

In [ ]:
pd.read_csv('alunos_aprovados.csv')

Exercicios aula 4

In [11]:
import pandas as pd

url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/desafios/alunos.csv'
alunos = pd.read_csv(url)

alunos.head()

    Nome  Idade  Notas  Aprovado
0    Ary     20    7.5      True
1    Ana     18    NaN     False
2  Cátia     27    2.5     False
3  Denis     18    5.0     False
4   Beto     21   10.0      True

Exercicio 1: Os alunos participaram de uma atividade extracurricular e ganharam pontos extras. Esses pontos extras correspondem a 40% da nota atual de cada um deles. Com base nisso, crie uma coluna chamada "Pontos_extras" que contenha os pontos extras de cada aluno, ou seja, 40% da nota atual deles.

In [12]:
alunos['Pontos_extras'] = alunos['Notas'] * 0.4
alunos.head()

    Nome  Idade  Notas  Aprovado  Pontos_extras
0    Ary     20    7.5      True            3.0
1    Ana     18    NaN     False            NaN
2  Cátia     27    2.5     False            1.0
3  Denis     18    5.0     False            2.0
4   Beto     21   10.0      True            4.0

Exercicio 2: Crie mais uma coluna, chamada "Notas_finais" que possua as notas de cada aluno somada com os pontos extras.

In [13]:
alunos['Notas_finais'] = alunos['Notas'] + alunos['Pontos_extras']
alunos.head()

    Nome  Idade  Notas  Aprovado  Pontos_extras  Notas_finais
0    Ary     20    7.5      True            3.0          10.5
1    Ana     18    NaN     False            NaN           NaN
2  Cátia     27    2.5     False            1.0           3.5
3  Denis     18    5.0     False            2.0           7.0
4   Beto     21   10.0      True            4.0          14.0

Exercicio 3: Como houve uma pontuação extra, alguns alunos que não tinham sido aprovados antes podem ter sido aprovados agora. Com base nisso, crie uma coluna chamada "Aprovado_final" com os seguintes valores:

True: caso o aluno esteja aprovado (nota final deve ser maior ou igual a 6);

False: caso o aluno esteja reprovado (nota final deve ser menor que 6).

In [14]:
alunos['Aprovado_Final'] = alunos['Notas_finais'].apply(lambda x: True if x >= 6 else False)
alunos.head()

    Nome  Idade  Notas  Aprovado  Pontos_extras  Notas_finais  Aprovado_Final
0    Ary     20    7.5      True            3.0          10.5            True
1    Ana     18    NaN     False            NaN           NaN           False
2  Cátia     27    2.5     False            1.0           3.5           False
3  Denis     18    5.0     False            2.0           7.0            True
4   Beto     21   10.0      True            4.0          14.0            True

Exercicio 4: Faça uma seleção e verifique quais alunos não tinham sido aprovados anteriormente, mas foram aprovados após a soma dos pontos extras.

In [24]:
novo_aprovados = alunos['Aprovado'] != alunos['Aprovado_Final']
alunos[novo_aprovados]


#resolução do professor 

#selecao = (alunos['Aprovado'] == False) & (alunos['Aprovado_Final'] == True)
#alunos[selecao]

# ambas tem o mesmo resultado

     Nome  Idade  Notas  Aprovado  Pontos_extras  Notas_finais  Aprovado_Final
3   Denis     18    5.0     False           2.00          7.00            True
8   Alice     35    5.6     False           2.24          7.84            True
11   Igor     24    4.5     False           1.80          6.30            True