Exercicios aula 1: Fazedno leitura de arquivo CSV

A codificação do arquivo é ISO-8859-1?

In [ ]:
import chardet

with open('dados_sus.csv', 'rb') as file:
    print(chardet.detect(file.read()))

As três primeiras linhas linhas do arquivo podem ser desconsideradas, pois o cabeçalho só começa na quarta linha.

As 9 últimas linhas também podem ser desconsideradas, pois são apenas informações sobre onde os dados foram obtidos.

In [ ]:
import pandas as pd 

dados = pd.read_csv('dados_sus.csv', encoding='ISO-8859-1', sep=';', skiprows=3, skipfooter = 9, engine='python')
# endoding passa qual é o tipo de codificação do arquivo, skiprows = x diz que voce pula as x primeiras linhas do arquivo na hora da leitura, skipfooter = x diz que voce pula as x ultimas linhas na hora da leitura do arquivo, engine = 'python' o motor usado para ler o arquivo é o Python. Isso é necessário quando se usa o parâmetro skipfooter, pois o motor padrão não suporta essa opção.

dados

Exercicio aula 2:

Neste desafio, a sua função é efetuar a leitura desse link do Google Planilhas e depois salvar o DataFrame obtido no formato CSV. Pronto(a) para começar?

In [ ]:
import pandas as pd 

sheet_id = '1pvBoLyX8kP0TjtUbadVMGdTl4yzm6bHMThhPiqCVtpw'

url_co2 = f'https://docs.google.com/spreadsheets/d/{id}/gviz/tq?tqx=out:csv'

In [ ]:
emissoes_carbono = pd.read_csv(url_co2)
emissoes_carbono.head()

In [ ]:
emissoes_carbono.to_csv('dados_emissoes_co2.csv', index=False)

Exercicios Aula 3

Este DataFrame possui 6 colunas: genus (gênero), name (nome), id, family (família), order (ordem) e nutritions (nutrições). Note que a coluna nutritions está com todas as informações nutricionais aninhadas. Portanto, os dados precisam ser normalizados.

O desafio agora é normalizar esse DataFrame.

In [1]:
# pegadno os dados 
import pandas as pd
import requests
import json

dados_frutas = requests.get('https://fruityvice.com/api/fruit/all')
resultado = json.loads(dados_frutas.text)

pd.DataFrame(resultado).head()

,name,id,family,order,genus,nutritions
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,"{'calories': 81, 'fat': 0.0, 'sugar': 18.0, 'c..."
1,Strawberry,3,Rosaceae,Rosales,Fragaria,"{'calories': 29, 'fat': 0.4, 'sugar': 5.4, 'ca..."
2,Banana,1,Musaceae,Zingiberales,Musa,"{'calories': 96, 'fat': 0.2, 'sugar': 17.2, 'c..."
3,Tomato,5,Solanaceae,Solanales,Solanum,"{'calories': 74, 'fat': 0.2, 'sugar': 2.6, 'ca..."
4,Pear,4,Rosaceae,Rosales,Pyrus,"{'calories': 57, 'fat': 0.1, 'sugar': 10.0, 'c..."

In [3]:
# normalizando os dados

import pandas as pd
dados_frutas_normalizado = pd.json_normalize(resultado)

dados_frutas_normalizado.head()

,name,id,family,order,genus,nutritions.calories,nutritions.fat,nutritions.sugar,nutritions.carbohydrates,nutritions.protein
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,81,0.0,18.0,18.0,0.0
1,Strawberry,3,Rosaceae,Rosales,Fragaria,29,0.4,5.4,5.5,0.8
2,Banana,1,Musaceae,Zingiberales,Musa,96,0.2,17.2,22.0,1.0
3,Tomato,5,Solanaceae,Solanales,Solanum,74,0.2,2.6,3.9,0.9
4,Pear,4,Rosaceae,Rosales,Pyrus,57,0.1,10.0,15.0,0.4