Aula 1: Fazendo a leitura de arquivso CSV

In [1]:
# Lendo arquivos CSV

import pandas as pd

url = 'https://raw.githubusercontent.com/alura-cursos/pandas/main/superstore_data.csv' #carrega a url com os dados que vamos usar
dados_mercado = pd.read_csv(url, sep=',') # le o arquivo CSV e salva eles na varivel, sep = ',' diz que o arquivo tem os dados separados por ,

In [2]:
dados_mercado.head() #.head() mostar as 5 primeiras linhas do DF

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,Graduation,Divorced,84835.0,0,0,6/16/2014,0,189,...,111,189,218,1,4,4,6,1,1,0
1,1,1961,Graduation,Single,57091.0,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
2,10476,1958,Graduation,Married,67267.0,0,1,5/13/2014,0,134,...,15,2,30,1,3,2,5,2,0,0
3,1386,1967,Graduation,Together,32474.0,1,1,11/5/2014,0,10,...,0,0,0,1,1,0,2,7,0,0
4,5371,1989,Graduation,Single,21474.0,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0

In [3]:
url_2 = 'https://raw.githubusercontent.com/alura-cursos/Pandas/main/superstore_data_ponto_virgula.csv'

dados_ponto_virgula = pd.read_csv(url_2, sep= ';') # sep diz que os dados sÃ£o separados por ';', se nÃ£o colocar o sep=';' o arquivos nÃ£ob Ã© lido corretamente, sempre prestar atenÃ§Ã£o no arquivo bruto pra ver como os dados sÃ£o separados 
dados_ponto_virgula.head()

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,Graduation,Divorced,84835.0,0,0,6/16/2014,0,189,...,111,189,218,1,4,4,6,1,1,0
1,1,1961,Graduation,Single,57091.0,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
2,10476,1958,Graduation,Married,67267.0,0,1,5/13/2014,0,134,...,15,2,30,1,3,2,5,2,0,0
3,1386,1967,Graduation,Together,32474.0,1,1,11/5/2014,0,10,...,0,0,0,1,1,0,2,7,0,0
4,5371,1989,Graduation,Single,21474.0,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0

Como detectar o encoding de um arquivo CSV

import chardet

with open('/content/dados.csv', 'rb') as file:
    print(chardet.detect(file.read()))


'''
Note que a primeira linha deste cÃ³digo abre o arquivo CSV em modo de leitura binÃ¡ria rb e atribui o objeto de arquivo retornado a uma variÃ¡vel chamada file

Na segunda linha do cÃ³digo, o conteÃºdo do arquivo CSV Ã© lido usando o mÃ©todo read() e o resultado Ã© passado para a funÃ§Ã£o chardet.detect(), que retorna um dicionÃ¡rio contendo informaÃ§Ãµes sobre a codificaÃ§Ã£o mais provÃ¡vel do arquivo. O resultado Ã© impresso com a funÃ§Ã£o print() que mostra a codificaÃ§Ã£o e a confianÃ§a associada a essa codificaÃ§Ã£o.

Ao executar o cÃ³digo Giovanna obteve o seguinte resultado:

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

Agora ela sabe que o arquivo CSV provavelmente possui a codificaÃ§Ã£o ISO-8859-1 com uma confianÃ§a de 0.73. Para especificar a codificaÃ§Ã£o correta ao carregar o arquivo CSV com a biblioteca Pandas, Ã© possÃ­vel usar um parÃ¢metro chamado encoding:

df = pd.read_csv('/content/dados.csv', encoding='ISO-8859-1')

Desta forma, a biblioteca Pandas irÃ¡ carregar o arquivo CSV usando a codificaÃ§Ã£o ISO-8859-1, o que vai resolver o erro de encoding. EntÃ£o, se algum dia vocÃª tentar ler um arquivo e surgir esse mesmo erro, lembre-se dessa dica!
'''

In [4]:
# ParÃ¢metros da funÃ§Ã£o read_csv

dados_primeiras_linhas = pd.read_csv(url, nrows = 5) # nrows = x pega sÃ³ as x primeiras linhas do DF, nÃ£o pegadno todo o DF, isso serva para uma simples vizualizaÃ§Ã£o do DF, sem ter que acrregar ele todo
dados_primeiras_linhas

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,Graduation,Divorced,84835,0,0,6/16/2014,0,189,...,111,189,218,1,4,4,6,1,1,0
1,1,1961,Graduation,Single,57091,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
2,10476,1958,Graduation,Married,67267,0,1,5/13/2014,0,134,...,15,2,30,1,3,2,5,2,0,0
3,1386,1967,Graduation,Together,32474,1,1,11/5/2014,0,10,...,0,0,0,1,1,0,2,7,0,0
4,5371,1989,Graduation,Single,21474,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0

In [5]:
dados_selecao = pd.read_csv(url, usecols = ['Id', 'Year_Birth', 'Income']) # usecols = ['x','y','z'], pega sÃ³ colunas expecificas do DF, no exemplo ele sÃ³ pegas as colunas com nome x, y, z, as colunas tambem poder ser chamadas por idexaÃ§Ã£o exemplo usecols = [0, 1, 4]), mopstra as mesmas colunas chamada por nome acima sÃ³ que agora por indexaÃ§Ã£o
dados_selecao

         Id  Year_Birth   Income
0      1826        1970  84835.0
1         1        1961  57091.0
2     10476        1958  67267.0
3      1386        1967  32474.0
4      5371        1989  21474.0
...     ...         ...      ...
2235  10142        1976  66476.0
2236   5263        1977  31056.0
2237     22        1976  46310.0
2238    528        1978  65819.0
2239   4070        1969  94871.0

[2240 rows x 3 columns]

In [6]:
# escervendo arquivos CSV

dados_selecao.to_csv('clientes_mercado.csv', index = False) # to_csv('nome') salva uma arquivo na maquina com o nome passado no parenteses, index=False esse parametro serve par que quando for salvar um arquivo nÃ£o seja adicionado uma coluna nova de index

In [7]:
clientes_mercado = pd.read_csv('clientes_mercado.csv') # vizualizaÃ§Ã£o pra te certeza se foi salvo corretamente
clientes_mercado

         Id  Year_Birth   Income
0      1826        1970  84835.0
1         1        1961  57091.0
2     10476        1958  67267.0
3      1386        1967  32474.0
4      5371        1989  21474.0
...     ...         ...      ...
2235  10142        1976  66476.0
2236   5263        1977  31056.0
2237     22        1976  46310.0
2238    528        1978  65819.0
2239   4070        1969  94871.0

[2240 rows x 3 columns]

Aula 2: Utilizando planilhas

In [8]:
# Lendo arquivos Exel

url_3 = 'https://github.com/alura-cursos/Pandas/blob/main/emissoes_CO2.xlsx?raw=True'
# raw = True significa que estÃ¡ trazendo os dados brutos 

dados_co2 = pd.read_excel(url_3) # .pd.read_excel(nome) le arquivos xlsx

dados_co2.head()

,PaÃ­s,ISO 3166-1 alpha-3,Ano,Total,CarvÃ£o,OlÃ©o,GÃ¡s,Cimento,Queima,Outro,Per Capita
0,AfeganistÃ£o,AFG,1750,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AfeganistÃ£o,AFG,1751,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AfeganistÃ£o,AFG,1752,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AfeganistÃ£o,AFG,1753,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AfeganistÃ£o,AFG,1754,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
pd.ExcelFile(url_3).sheet_names # .ExelFile() diz que Ã© um arqivo excel, .sheet_names vÃ© se nÃ£o tem outras paginas (paginas sÃ£o outras planilhas) dentro do arquivo excel

['emissoes_C02', 'emissoes_percapita', 'fontes']

read_excel pode ler os seguintes tipos de arquivo, xls, xlsm, xlsb, odf, ods e odt.

In [11]:
# Parametros da funÃ§Ã£o read_excel

percapita = pd.read_excel(url_3, sheet_name='emissoes_percapita') # sheet_name = 'emissoes_percapita' le a pagina e salva ela em percapita

In [12]:
percapita.head()

,PaÃ­s,ISO 3166-1 alpha-3,Ano,Total,CarvÃ£o,Ã“leo,GÃ¡s,Cimento,Queima,Outro
0,AfeganistÃ£o,AFG,1750,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AfeganistÃ£o,AFG,1751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AfeganistÃ£o,AFG,1752,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AfeganistÃ£o,AFG,1753,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AfeganistÃ£o,AFG,1754,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
fontes = pd.read_excel(url_3, sheet_name='fontes') # carrega a terceira pagina

In [14]:
fontes.head()

,PaÃ­s,ISO 3166-1 alpha-3,Ano,Total,CarvÃ£o,OlÃ©o,GÃ¡s,Cimento,Queima,Outro,Per Capita
0,AfeganistÃ£o,AFG,1750,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
1,AfeganistÃ£o,AFG,1751,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
2,AfeganistÃ£o,AFG,1752,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
3,AfeganistÃ£o,AFG,1753,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
4,AfeganistÃ£o,AFG,1754,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]

In [21]:
intervalo = pd.read_excel(url_3, sheet_name= 'emissoes_C02', usecols= 'A:D') # usecols serve para selecionar colunas expecificas da planilha, no exemplo acima estÃ¡ selecionando da coluna A atÃ© a coluna D

In [23]:
intervalo

              PaÃ­s ISO 3166-1 alpha-3   Ano         Total
0      AfeganistÃ£o                AFG  1750  0.000000e+00
1      AfeganistÃ£o                AFG  1751  0.000000e+00
2      AfeganistÃ£o                AFG  1752  0.000000e+00
3      AfeganistÃ£o                AFG  1753  0.000000e+00
4      AfeganistÃ£o                AFG  1754  0.000000e+00
...            ...                ...   ...           ...
63099       Global                WLD  2017  3.609674e+10
63100       Global                WLD  2018  3.682651e+10
63101       Global                WLD  2019  3.708256e+10
63102       Global                WLD  2020  3.526409e+10
63103       Global                WLD  2021  3.712385e+10

[63104 rows x 4 columns]

In [24]:
intervalo_2 = pd.read_excel(url_3, sheet_name= 'emissoes_C02', usecols= 'A:D', nrows= 10) 
# nrows = x retorna as x primieras linhas

In [25]:
intervalo_2

          PaÃ­s ISO 3166-1 alpha-3   Ano  Total
0  AfeganistÃ£o                AFG  1750      0
1  AfeganistÃ£o                AFG  1751      0
2  AfeganistÃ£o                AFG  1752      0
3  AfeganistÃ£o                AFG  1753      0
4  AfeganistÃ£o                AFG  1754      0
5  AfeganistÃ£o                AFG  1755      0
6  AfeganistÃ£o                AFG  1756      0
7  AfeganistÃ£o                AFG  1757      0
8  AfeganistÃ£o                AFG  1758      0
9  AfeganistÃ£o                AFG  1759      0

In [26]:
# Escrevendo (salvando) arquivos Excel

percapita.to_excel('Percapita_CO2.xlsx', index=False) # to_excel salva o arquivo percapita na pasta em que o codigo estÃ¡ e nome que o arquivo recebe Ã© o nome que passa entre aspas, index=False Ã© para nÃ£o salvar com o index

In [27]:
pd.read_excel('Percapita_CO2.xlsx')

,PaÃ­s,ISO 3166-1 alpha-3,Ano,Total,CarvÃ£o,Ã“leo,GÃ¡s,Cimento,Queima,Outro
0,AfeganistÃ£o,AFG,1750,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AfeganistÃ£o,AFG,1751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AfeganistÃ£o,AFG,1752,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AfeganistÃ£o,AFG,1753,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AfeganistÃ£o,AFG,1754,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
63099,Global,WLD,2017,4749682.0,1908857.0,1610910.0,940144.0,198416.0,51579.0,39776.0
63100,Global,WLD,2018,4792753.0,1919213.0,1596350.0,979965.0,204225.0,53634.0,39366.0
63101,Global,WLD,2019,4775633.0,1896468.0,1589920.0,984878.0,208309.0,56569.0,39490.0
63102,Global,WLD,2020,4497423.0,1807760.0,1427353.0,963695.0,208844.0,51981.0,37789.0
63103,Global,WLD,2021,4693699.0,1893923.0,1496614.0,1001585.0,211472.0,52663.0,37443.0