Aula 1: Fazendo a leitura de arquivso CSV

In [ ]:
# Lendo arquivos CSV

import pandas as pd

url = 'https://raw.githubusercontent.com/alura-cursos/pandas/main/superstore_data.csv' #carrega a url com os dados que vamos usar
dados_mercado = pd.read_csv(url, sep=',') # le o arquivo CSV e salva eles na varivel, sep = ',' diz que o arquivo tem os dados separados por ,

In [ ]:
dados_mercado.head() #.head() mostar as 5 primeiras linhas do DF

In [ ]:
url_2 = 'https://raw.githubusercontent.com/alura-cursos/Pandas/main/superstore_data_ponto_virgula.csv'

dados_ponto_virgula = pd.read_csv(url_2, sep= ';') # sep diz que os dados são separados por ';', se não colocar o sep=';' o arquivos nãob é lido corretamente, sempre prestar atenção no arquivo bruto pra ver como os dados são separados 
dados_ponto_virgula.head()

Como detectar o encoding de um arquivo CSV

import chardet

with open('/content/dados.csv', 'rb') as file:
    print(chardet.detect(file.read()))


'''
Note que a primeira linha deste código abre o arquivo CSV em modo de leitura binária rb e atribui o objeto de arquivo retornado a uma variável chamada file

Na segunda linha do código, o conteúdo do arquivo CSV é lido usando o método read() e o resultado é passado para a função chardet.detect(), que retorna um dicionário contendo informações sobre a codificação mais provável do arquivo. O resultado é impresso com a função print() que mostra a codificação e a confiança associada a essa codificação.

Ao executar o código Giovanna obteve o seguinte resultado:

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

Agora ela sabe que o arquivo CSV provavelmente possui a codificação ISO-8859-1 com uma confiança de 0.73. Para especificar a codificação correta ao carregar o arquivo CSV com a biblioteca Pandas, é possível usar um parâmetro chamado encoding:

df = pd.read_csv('/content/dados.csv', encoding='ISO-8859-1')

Desta forma, a biblioteca Pandas irá carregar o arquivo CSV usando a codificação ISO-8859-1, o que vai resolver o erro de encoding. Então, se algum dia você tentar ler um arquivo e surgir esse mesmo erro, lembre-se dessa dica!
'''

In [ ]:
# Parâmetros da função read_csv

dados_primeiras_linhas = pd.read_csv(url, nrows = 5) # nrows = x pega só as x primeiras linhas do DF, não pegadno todo o DF, isso serva para uma simples vizualização do DF, sem ter que acrregar ele todo
dados_primeiras_linhas

In [ ]:
dados_selecao = pd.read_csv(url, usecols = ['Id', 'Year_Birth', 'Income']) # usecols = ['x','y','z'], pega só colunas expecificas do DF, no exemplo ele só pegas as colunas com nome x, y, z, as colunas tambem poder ser chamadas por idexação exemplo usecols = [0, 1, 4]), mopstra as mesmas colunas chamada por nome acima só que agora por indexação
dados_selecao

In [ ]:
# escervendo arquivos CSV

dados_selecao.to_csv('clientes_mercado.csv', index = False) # to_csv('nome') salva uma arquivo na maquina com o nome passado no parenteses, index=False esse parametro serve par que quando for salvar um arquivo não seja adicionado uma coluna nova de index

In [ ]:
clientes_mercado = pd.read_csv('clientes_mercado.csv') # vizualização pra te certeza se foi salvo corretamente
clientes_mercado

Aula 2: Utilizando planilhas

In [ ]:
# Lendo arquivos Exel

url_3 = 'https://github.com/alura-cursos/Pandas/blob/main/emissoes_CO2.xlsx?raw=True'
# raw = True significa que está trazendo os dados brutos 

dados_co2 = pd.read_excel(url_3) # .pd.read_excel(nome) le arquivos xlsx

dados_co2.head()

In [ ]:
pd.ExcelFile(url_3).sheet_names # .ExelFile() diz que é um arqivo excel, .sheet_names vé se não tem outras paginas (paginas são outras planilhas) dentro do arquivo excel

read_excel pode ler os seguintes tipos de arquivo, xls, xlsm, xlsb, odf, ods e odt.

In [ ]:
# Parametros da função read_excel

percapita = pd.read_excel(url_3, sheet_name='emissoes_percapita') # sheet_name = 'emissoes_percapita' le a pagina e salva ela em percapita

In [ ]:
percapita.head()

In [ ]:
fontes = pd.read_excel(url_3, sheet_name='fontes') # carrega a terceira pagina

In [ ]:
fontes.head()

In [ ]:
intervalo = pd.read_excel(url_3, sheet_name= 'emissoes_C02', usecols= 'A:D') # usecols serve para selecionar colunas expecificas da planilha, no exemplo acima está selecionando da coluna A até a coluna D

In [ ]:
intervalo

In [ ]:
intervalo_2 = pd.read_excel(url_3, sheet_name= 'emissoes_C02', usecols= 'A:D', nrows= 10) 
# nrows = x retorna as x primieras linhas

In [ ]:
intervalo_2

In [ ]:
# Escrevendo (salvando) arquivos Excel

percapita.to_excel('Percapita_CO2.xlsx', index=False) # to_excel salva o arquivo percapita na pasta em que o codigo está e nome que o arquivo recebe é o nome que passa entre aspas, index=False é para não salvar com o index

In [ ]:
pd.read_excel('Percapita_CO2.xlsx')

In [ ]:
# Lendo dados do Google Planilhas 

'''https://docs.google.com/spreadsheets/d/1Z6crkywaULV1p33NKy2a_rGgQ_D9h7dpdCsPjv3NXZo/edit?usp=sharing  # o ID da planilha começa depois do 'd/' e vai até o 'o' no case : '1Z6crkywaULV1p33NKy2a_rGgQ_D9h7dpdCsPjv3NXZo'''

In [ ]:
sheet_id = '1Z6crkywaULV1p33NKy2a_rGgQ_D9h7dpdCsPjv3NXZo' # id da planilha, o id é tudo o que aparece entre 'd/' e '/edit'.

In [ ]:
url_4 = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet' # pra não ficar tão grande a linha e facilitar o vizualização pode apagar a parte do link do final até o 'd/', coloca o link dentro de uma f string e no final passa a variavel que contem o ID da planilha, /gviz/tq indica que você deseja acessar o recurso de consulta de dados da API de visualização de dados, ?tqx=out:csv para que os dados sejam retornados no formato CSV, &sheet esse comando faz que todos os dados sejam retornados (cabeçaljo, linhas, colunas, etc)

In [ ]:
dados_co2_sheets =  pd.read_csv(url_4)

In [ ]:
dados_co2_sheets.head()

In [ ]:
sheet_id = '1Z6crkywaULV1p33NKy2a_rGgQ_D9h7dpdCsPjv3NXZo'
sheet_name = 'emissoes_percapita'
url_percapita = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}' # isso tudo é pra carregar a segunda pagina da planilha

In [ ]:
percapita_sheets = pd.read_csv(url_percapita)
percapita_sheets.head()

In [ ]:
sheet_id = '1Z6crkywaULV1p33NKy2a_rGgQ_D9h7dpdCsPjv3NXZo'
sheet_name = 'fontes'
url_fontes = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}' # isso tudo é pra carregar a terceira tabela da planilha

In [ ]:
fontes_sheets = pd.read_csv(url_fontes)
fontes_sheets.head()

Aula 3: Manipulando arquivos JSON

In [30]:
# Lendo arquivos JSON

'''
um arquivo JSON é como se fosse um dicionario em python, contendo chaves e valores, cada chave tem seu valor ex:

{"ID":"01", "Faixa_etaria":"55-59", "Sexo_biologico":"Feminino"}
'''

import pandas as pd 

url_5 = 'https://raw.githubusercontent.com/alura-cursos/Pandas/main/pacientes.json'
dados_pacientes = pd.read_json(url_5)

dados_pacientes

,ID_paciente,Doenca_cardiaca,IMC,Fumante,Consumo_alcool,AVC,Saude_fisica,Saude_mental,Dificuldade_caminhar,Sexo_biologico,Faixa_etaria,Raca,Diabetes,Atividade_fisica,Saude_geral,Horas_sono,Asma,Doenca_renal,Cancer_pele
0,0,Nao,16.60,Sim,Nao,Nao,3,30,Nao,Feminino,55-59,Branca,Sim,Sim,Muito boa,5,Sim,Nao,Sim
1,1,Nao,20.34,Nao,Nao,Sim,0,0,Nao,Feminino,80 ou +,Branca,Nao,Sim,Muito boa,7,Nao,Nao,Nao
2,2,Nao,26.58,Sim,Nao,Nao,20,30,Nao,Masculino,65-69,Branca,Sim,Sim,Razoavel,8,Sim,Nao,Nao
3,3,Nao,24.21,Nao,Nao,Nao,0,0,Nao,Feminino,75-79,Branca,Nao,No,Boa,6,Nao,Nao,Sim
4,4,Nao,23.71,Nao,Nao,Nao,28,0,Sim,Feminino,40-44,Branca,Nao,Sim,Muito boa,8,Nao,Nao,Nao
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,Nao,28.29,Sim,Nao,Nao,10,20,Nao,Feminino,65-69,Preta,Sim,Sim,Razoavel,8,Nao,Nao,Nao
996,996,Nao,25.69,Sim,Nao,Nao,0,0,Nao,Feminino,75-79,Branca,Nao,Sim,Excelente,8,Nao,Nao,Nao
997,997,Sim,26.99,Nao,Nao,Nao,1,0,Nao,Masculino,70-74,Branca,Nao,Sim,Muito boa,8,Nao,Nao,Nao
998,998,Nao,44.29,Nao,Nao,Nao,30,0,Sim,Feminino,70-74,Branca,Sim,No,Boa,6,Sim,Nao,Nao
999,999,Nao,25.83,Nao,Nao,Nao,0,0,Nao,Masculino,70-74,Preta,Sim,No,Excelente,7,Nao,Nao,Nao

In [31]:
# nem sempre é facil carregar um arquivo JSON porque as vezes as informações podems estra aninhadas como as do exemplo abaixo: onde os dados ficam mal organizados prara a vizualização, pois elas estão aninhadas ou sejas os dados estão todos juntos sem separação das colunas e linhas

url_6 = 'https://raw.githubusercontent.com/alura-cursos/Pandas/main/pacientes_2.json'
dados_pacientes_2 = pd.read_json(url_6)
dados_pacientes_2

,Pesquisa,Ano,Pacientes
0,Principais Indicadores de Doenca Cardiaca,2020,"{'ID': '01', 'Faixa_etaria': '55-59', 'Sexo_bi..."
1,Principais Indicadores de Doenca Cardiaca,2020,"{'ID': '02', 'Faixa_etaria': '80 ou +', 'Sexo_..."
2,Principais Indicadores de Doenca Cardiaca,2020,"{'ID': '03', 'Faixa_etaria': '65-69', 'Sexo_bi..."

In [32]:
# normalizadno arquivos JSON

# usando o site jsoncrack voce pode vizualizar o arquivo jsaon que esta aninhado de uma forma compreensivel

df_normalizado = pd.json_normalize(dados_pacientes_2['Pacientes']) # .json_normalize(variavel que contem o arquivo['qual a coluna que vc quer normalizar']), a coluna escolhida foi ecolhida por que os dados estão aninhados nela

In [33]:
df_normalizado

,ID,Faixa_etaria,Sexo_biologico,Raça,IMC,Fumante,Consumo_alcool,Saude_fisica,Saude_mental,Dificuldade_caminhar,Atividade_fisica,Saude_geral,Horas_sono,Problemas_saude
0,01,55-59,Feminino,Branca,16.60,Sim,Nao,3,30,Nao,Sim,Muito boa,5,"[Diabetes, Asma, Cancer_pele]"
1,02,80 ou +,Feminino,Branca,20.34,Nao,Nao,0,0,Nao,Sim,Muito boa,7,[AVC]
2,03,65-69,Masculino,Branca,26.58,Sim,Nao,20,30,Nao,Sim,Muito boa,8,"[diabetes, Asma]"

In [43]:
# record_path Esse parâmetro é usado na função pd.json_normalize() para especificar o caminho para os registros que devem ser normalizados em um DataFrame separado, meta O resultado parece ótimo, mas não inclui as colunas “Pesquisa” e “Ano”. Para incluí-las, podemos usar o parâmetro meta para especificar outras colunas que queremos no DataFrame.

SyntaxError: unmatched ')' (2100437332.py, line 1)

Importante: Na aula nós realizamos a normalização em um arquivo com o formato JSON. No entanto, a função json_normalize() aceita apenas um dicionário ou uma lista de dicionários. Por isso, no vídeo foi usada a estratégia de usar o código: pd.json_normalize(dados_pacientes_2['Pacientes']). Porém, se tentarmos usar parâmetros da função json_normalize em um arquivo JSON podem surgir erros. Para contornar isso, precisamos importar o módulo json e ler os arquivos conforme o código abaixo:

In [44]:
#Importando a biblioteca Pandas
import pandas as pd

#Importando o módulo JSON
import json

#Lendo o arquivo json usando o módulo Python JSON
with open('pacientes_2.json','r') as f:
    dados = json.loads(f.read())

#Normalizando os dados com os parâmetros record_path e meta
pd.json_normalize(dados, record_path='Pacientes', meta=['Pesquisa', 'Ano'])

# record_path Esse parâmetro é usado na função pd.json_normalize() para especificar o caminho para os registros que devem ser normalizados em um DataFrame separado, meta O resultado parece ótimo, mas não inclui as colunas “Pesquisa” e “Ano”. Para incluí-las, podemos usar o parâmetro meta para especificar outras colunas que queremos no DataFrame.

,ID,Faixa_etaria,Sexo_biologico,RaÃ§a,IMC,Fumante,Consumo_alcool,Saude_fisica,Saude_mental,Dificuldade_caminhar,Atividade_fisica,Saude_geral,Horas_sono,Problemas_saude,Pesquisa,Ano
0,01,55-59,Feminino,Branca,16.60,Sim,Nao,3,30,Nao,Sim,Muito boa,5,"[Diabetes, Asma, Cancer_pele]",Principais Indicadores de Doenca Cardiaca,2020
1,02,80 ou +,Feminino,Branca,20.34,Nao,Nao,0,0,Nao,Sim,Muito boa,7,[AVC],Principais Indicadores de Doenca Cardiaca,2020
2,03,65-69,Masculino,Branca,26.58,Sim,Nao,20,30,Nao,Sim,Muito boa,8,"[diabetes, Asma]",Principais Indicadores de Doenca Cardiaca,2020

In [45]:
# escrevendo arquivos JSON

df_normalizado.to_json('historico_pacientes_normalizado.json')

In [46]:
pd.read_json('historico_pacientes_normalizado.json') # pode ser salvo em oputros formatos como csv ou exel

,ID,Faixa_etaria,Sexo_biologico,Raça,IMC,Fumante,Consumo_alcool,Saude_fisica,Saude_mental,Dificuldade_caminhar,Atividade_fisica,Saude_geral,Horas_sono,Problemas_saude
0,1,55-59,Feminino,Branca,16.60,Sim,Nao,3,30,Nao,Sim,Muito boa,5,"[Diabetes, Asma, Cancer_pele]"
1,2,80 ou +,Feminino,Branca,20.34,Nao,Nao,0,0,Nao,Sim,Muito boa,7,[AVC]
2,3,65-69,Masculino,Branca,26.58,Sim,Nao,20,30,Nao,Sim,Muito boa,8,"[diabetes, Asma]"

Aula 4: Lendo dados em HTML e XML

In [ ]:
# Lendo paginas Web

# arquivo com os 100 melhores melhores filmes do cinema

'''
em HTML as tabelas que estão no site geralmente tem uma tab 'table' nelas no codigo do site

inspecionando o codigo do site apertando ctrl,+,f vai abrir uma barra de pesquisa ai coloca <table> que vai mostrar as tabelas do site 
'''

In [2]:
import pandas as pd

dados_html = pd.read_html('filmes_wikipedia.html') # quando usamos pd.read_html ele pega todas tabelas que existem no site e transforma cada uma em um DF e retorna todos os DFs dentro de uma lista, no caso  lista tem, 3 DFs 

dados_html

[       0                      1
 0   1998             100 Movies
 1   1999              100 Stars
 2   2000             100 Laughs
 3   2001            100 Thrills
 4   2002           100 Passions
 5   2003  100 Heroes & Villains
 6   2004              100 Songs
 7   2005       100 Movie Quotes
 8   2005              25 Scores
 9   2006             100 Cheers
 10  2006            25 Musicals
 11  2007   100 Movies (Updated)
 12  2008        AFI's 10 Top 10
 13   vte                    vte,
                             Film  Release year              Director  \
 0                   Citizen Kane          1941          Orson Welles
 1                     Casablanca          1942        Michael Curtiz
 2                  The Godfather          1972  Francis Ford Coppola
 3             Gone with the Wind          1939        Victor Fleming
 4             Lawrence of Arabia          1962            David Lean
 ..                           ...           ...                   ...
 95                 The Searchers          1956             John Ford
 96              Bringing Up Baby          1938          Howard Hawks
 97                    Unforgiven          1992        Clint Eastwood
 98  Guess Who's Coming to Dinner          1967        Stanley Kramer
 99           Yankee Doodle Dandy          1942        Michael Curtiz

                       Production companies  Rank
 0                       RKO Radio Pictures     1
 1                    Warner Bros. Pictures     2
 2   Paramount Pictures, Alfran Productions     3
 3          Selznick International Pictures     4
 4                         Horizon Pictures     5
 ..                                     ...   ...
 95                  C. V. Whitney Pictures    96
 96                      RKO Radio Pictures    97
 97                     The Malpaso Company    98
 98                       Columbia Pictures    99
 99                   Warner Bros. Pictures   100

 [100 rows x 5 columns],
           hidevteAFI's 100 Years...100 Movies (1998)  \
 0  Citizen Kane (1941) Casablanca (1942) The Godf...

         hidevteAFI's 100 Years...100 Movies (1998).1
 0  Citizen Kane (1941) Casablanca (1942) The Godf...  ]

In [3]:
type(dados_html) # retorna que o tipo é uma lista pois os DFs estão salvos dentro de uma lista

list

In [4]:
len(dados_html) # o resultado vai ser 3 posi temos 3 DFs dentro das listas

3

In [5]:
top_filmes = dados_html[1] # para podermos vizualizar o DF temos que selecionar ele na lista, com o DF que queremos ver é o segundo na lista e python começa com index 0 passamos o valor 1 e salvamos o DF na variavel top_filmes

top_filmes

,Film,Release year,Director,Production companies,Rank
0,Citizen Kane,1941,Orson Welles,RKO Radio Pictures,1
1,Casablanca,1942,Michael Curtiz,Warner Bros. Pictures,2
2,The Godfather,1972,Francis Ford Coppola,"Paramount Pictures, Alfran Productions",3
3,Gone with the Wind,1939,Victor Fleming,Selznick International Pictures,4
4,Lawrence of Arabia,1962,David Lean,Horizon Pictures,5
...,...,...,...,...,...
95,The Searchers,1956,John Ford,C. V. Whitney Pictures,96
96,Bringing Up Baby,1938,Howard Hawks,RKO Radio Pictures,97
97,Unforgiven,1992,Clint Eastwood,The Malpaso Company,98
98,Guess Who's Coming to Dinner,1967,Stanley Kramer,Columbia Pictures,99
99,Yankee Doodle Dandy,1942,Michael Curtiz,Warner Bros. Pictures,100

In [6]:
# escrevendo arquivos HTML (salvando)

top_filmes.to_html('top_filmes.html') # salva o DF no fromato HTML, podemos salvar esses dados em outros formatos só mudando o 'to_html' para 'to_csv' ou outro formato

In [ ]:
# lendo/escrevendo arquivos XML