# Desafio Aula 1

Você recebeu a tarefa de normalizar o seguinte arquivo JSON chamado “informacoes.json” referente a algumas informações de identificação de um cliente.

In [5]:
import pandas as pd

import json

with open('informacoes.json') as f:
    dados = json.load(f)

pd.json_normalize(dados, record_path = 'enderecos', meta = ['nome', 'idade'], errors = 'ignore')

       tipo    rua  numero          cidade  nome idade
0      casa  Rua A     123       São Paulo  João    28
1  trabalho  Rua B     456  Rio de Janeiro  João    28

# Desafio Aula 2